<html>
<head>
	<title><%= title %></title>
	<% include ../../partials/head %>
	<link rel="stylesheet" type="text/css" href="/css/prop.css">
</head>
<body>
	<% include landlord-nav %>
	<div class ="jumbotron">
		<h1>Your Properties</h1>
	</div>
	<div class="container">
		<br >
		<div class="row">
			<div class="col-12">
				<hr class="featurette-divider" />
				<% properties.forEach(function(property){ %>
				<div class="row featurette">
					<div class="col-md-7">
						<h2 class="featurette-heading">
							<%= property.address_one %> <br>
							<%= property.address_two %>
							<span class="text-muted"><%= property.city %>, <%= property.state %> <%= property.zip %></span>
						</h2>
						<p class="lead">
							Status: <%= property.status %>
							Beds: <%= property.beds %>
							Baths: <%= property.baths %>
							SqFeet: <%= property.sqfeet %>
							Monthly Rent: <%= property.price %>
						</p>
						<a class="btn btn-secondary" href="/landlord/home/<%= uid %>/property/<%= property.id %>">Edit</a>
						<a class="btn btn-secondary" href="/landlord/home/<%= uid %>/newrequest/<%= property.id %>">New Request</a>
					</div>
					<div class="col-md-5">
						<ul class="nav nav-tabs" id="dashTabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="request-tab-<%= property.id %>" data-toggle="tab" href="#request-<%= property.id %>" role="tab" aria-controls="request" aria-selected="true">Maintenance Requests</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="payment-tab-<%= property.id %>" data-toggle="tab" href="#payment-<%= property.id %>" role="tab" aria-controls="payments" aria-selected="false">Payments</a>
							</li>
						</ul>
						<div class="tab-content" id="dashTabContent">
							<div class="tab-pane fade show active" id="request-<%= property.id %>" role="tabpanel" aria-labelledby="request-tab-<%= property.id %>">
								<table class="table">
									<tr>
										<th>Status</th>
										<th>Request</th>
									</tr>	
									<% property.requests.forEach(function(request){ %>
									<tr>
										<td>
											<a href="/landlord/home/<%= uid %>/request/<%= request.id %>">
												<%= request.status %>
											</a>
										</td>
										<td>
											<a href="/landlord/home/<%= uid %>/request/<%= request.id %>">
												<%= request.date_started %> : <%= request.issue_title %>
											</a>
										</td>
									</tr>
									<% })%>
								</table>
							</div>
							<div class="tab-pane fade" id="payment-<%= property.id %>" role="tabpanel" aria-labelledby="payment-tab-<%= property.id %>">
								<table class="table">
									<tr>
										<th>Date</th>
										<th>Amount</th>
										<th>Method</th>
									</tr>	
									<% property.payments.forEach(function(payment){ %>
									<tr>
										<td>
											<%= payment.date %>
										</td>
										<td>
											<%= payment.amount %>
										</td>
										<td>
											<%= payment.method %>
										</td>
									</tr>
									<% })%>
								</table>
							</div>
						</div>

					</div>
				</div>
				<hr class="featurette-divider" />
				<% })%>
			</div>
		</div>
	</div>
</body>
</html>