<html>
<head>
	<title><%= title %></title>
	<% include ../../partials/head %>
	<link rel="stylesheet" type="text/css" href="/assets/css/allprops.css">
</head>
<body>
	<% include landlord-nav %>
	<div class="jumbotron">
		<h1><%= title %></h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form class="form" enctype="multipart/form-data" data-id="<%= property.id %>" data-uid="<%= uid %>">

					<% include ../../partials/property-fields %>

					<div class="d-flex align-items-center">
						<button class="btn btn-outline-success btn-lg dark" type="submit"><%= title %></button>
						<a class="mx-5" href="/landlord/home/<%= uid %>">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/scripts/property.js"></script>
</body>
</html>