<html>
<head>
	<title><%= title %></title>
	<% include ../../partials/head %>
</head>
<body>
	<% include landlord-nav %>
	<div class="jumbotron">
		<h1><%= title %></h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form data-id="<%= property.id %>">

					<% include ../../partials/property-fields %>

					<button class="btn" type="submit"><%= title %></button>
					<a href="/landlord/home/<%= uid %>">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>