<html>
<head>
	<title><%= title %></title>
	<% include ../../partials/head %>
</head>
<body>
	<% include landlord-nav %>
	<div class="jumbotron">
		<h1><%= title %></h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form data-id="<%= property.id %>">
					<label>address_one</label>
					<input type="text" name="address_one" placeholder="address_one" value="<%= property.address_one %>">
					
					<label>address_two</label>
					<input type="text" name="address_two" placeholder="address_two" value="<%= property.address_two %>">
					
					<label>city</label>
					<input type="text" name="city" placeholder="city" value="<%= property.city %>">
					<label>state</label>
					<input type="text" name="state" placeholder="state" value="<%= property.state %>">
					
					<label>zip</label>
					<input type="number" name="zip" placeholder="zip" value="<%= property.zip %>">
					
					<label>beds</label>
					<input type="number" name="beds" placeholder="beds" value="<%= property.beds %>">
					
					<label>baths</label>
					<input type="number" name="baths" placeholder="baths" value="<%= property.baths %>">
					
					<label>sqfeet</label>
					<input type="number" name="sqfeet" placeholder="sqfeet" value="<%= property.sqfeet %>">
					
					<label>Price</label>
					<input type="number" name="price" placeholder="price" value="<%= property.price %>">
					
					<label>Image</label>
					<input type="file" name="img_1" value="<%= property.img_1 %>">
					
					<label>Status</label>
					<select name="status">
						<option value="vacant" <% if (property.status == 'vacant') {%>selected<%} %>>vacant</option>
						<option value="occupied" <% if (property.status == 'occupied') {%>selected<%} %>>occupied</option>
					</select>

					<label>Tenant</label>
					<select name="tenant_id">
						<% tenants.forEach(function(tenant){ %>
							<option value="<%= tenant.uid %>"><%= tenant.name %> - <%= tenant.email %></option>
						<% }); %>
					</select>
					<button class="btn" type="submit"><%= title %></button>
					<a href="/landlord/home/<%= uid %>">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>