<html>
<head>
	<title><%= title %></title>
	<% include ../../partials/head %>
	<link rel="stylesheet" type="text/css" href="/assets/css/allprops.css">
</head>
<body>
	<% include tenant-nav %>
	<div class="jumbotron d-flex justify-content-between">
		<div>
			<h1 class="display-4 caption">
				<span class="tenant">Make</span> <span span class="pros">Payment</span>
			</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form data-id="<%= payment.id %>" data-uid="<%= uid %>" data-property="<%= payment.property_id %>">
					
					<% include ../../partials/payment-fields %>

					<div class="d-flex align-items-center">
						<button class="btn btn-outline-success btn-lg dark" type="submit"><%= title %></button>
						<a class="mx-5" href="/tenant/home/<%= uid %>">Cancel</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/scripts/payment.js"></script>
</body>
</html>