<html>
<head>
	<title><%= title %></title>
	<% include ../../partials/head %>
</head>
<body>
	<% include tenant-nav %>
	<div class="jumbotron">
		<h1><%= title %></h1>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form data-id="<%= request.id %>" data-uid="<%= uid %>" data-property="<%= request.property_id %>" data-user="tenant">
					
					<% include ../../partials/request-fields %>

					<button class="btn" type="submit"><%= title %></button>
					<a href="/tenant/home/<%= uid %>">Cancel</a>
				</form>
			</div>
		</div>
	</div>
	<script src="/scripts/request.js"></script>
</body>
</html>