<div class="form-row">
	<div class="form-group col-md-6">
		<label for="address_one">Address Line One</label>
		<input type="text" name="address_one" id="address_one" placeholder="321 My Street Name" value="<%= property.address_one %>">
	</div>
	<div class="form-group col-md-6">
		<label>Address Line Two</label>
		<input type="text" name="address_two" placeholder="Unit or Appt Number" value="<%= property.address_two %>">
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
		<label>City</label>
		<input type="text" name="city" placeholder="City" value="<%= property.city %>">
	</div>
	<div class="form-group col-md-3">
		<label>State</label>
		<input type="text" name="state" placeholder="State" value="<%= property.state %>">
	</div>
	<div class="form-group col-md-3">
		<label>Zip</label>
		<input type="number" name="zip" placeholder="Zip" value="<%= property.zip %>">
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
		<label>Beds</label>
		<input type="number" name="beds" placeholder="Beds" value="<%= property.beds %>">
	</div>
	<div class="form-group col-md-6">
		<label>Baths</label>
		<input type="number" name="baths" placeholder="Baths" value="<%= property.baths %>">
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
		<label>SqFeet</label>
		<input type="number" name="sqfeet" placeholder="SqFeet" value="<%= property.sqfeet %>">
	</div>
	<div class="form-group col-md-6">
		<label>Price</label>
		<input type="number" name="price" placeholder="Price" value="<%= property.price %>">
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-12">
		<label>Image</label>
		<input type="file" name="img_1" value="<%= property.img_1 %>">
	</div>
</div>
<div class="form-row">
	<div class="form-group col-md-6">
		<label>Status</label>
		<select name="status">
			<option value="vacant" <% if (property.status == 'vacant') {%>selected<%} %>>vacant</option>
			<option value="occupied" <% if (property.status == 'occupied') {%>selected<%} %>>occupied</option>
		</select>
	</div>
	<div class="form-group col-md-6" id="tenant-picker">
		<label>Tenant</label>
		<select name="tenant_id">
			<% tenants.forEach(function(tenant){ %>
			<option value="<%= tenant.uid %>"><%= tenant.name %> - <%= tenant.email %></option>
			<% }); %>
		</select>
	</div>
</div>