<label>Issue Title</label>
<input type="text" name="issue_title" value="<%= request.issue_title %>">

<label>issue_desc</label>
<textarea name="issue_desc" rows="5" cols="60">
	<%= request.issue_desc %>
</textarea>
<label>date_started</label>
<input type="date" name="date_started" value="<%= request.date_started %>">

<label>contact_name</label>
<input type="text" name="contact_name" value="<%= request.contact_name %>">

<label>contact_phone</label>
<input type="number" min="1111111111" max="9999999999" name="contact_phone" value="<%= request.contact_phone %>">

<label>Status</label>
<select name="status">
	<option value="open" <% if (request.status == 'open') {%>selected<%} %>>vacant</option>
	<option value="in progress" <% if (request.status == 'in progress') {%>selected<%} %>>occupied</option>
	<option value="closed" <% if (request.status == 'closed') {%>selected<%} %>>closed</option>
</select>